{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>



<div class="home-container">
    <dir>
        {% include 'base/topics_components.html' %}
    </dir>
    <dir>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create a Room</a>
    <div>
        {% include 'base/feed_component.html' %}
    </div>
    </dir>

    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock %}