.navbar {
    background-color: teal !important;
}

.navbar .btn-signup {
    background-color: #E97451;
    color: white;
}

.hero{
    background: url('img/header.jpg') no-repeat center center/cover; 
    height: 500px; display: flex; 
    align-items: center;
}
.start-btn{
    background-color: teal !important;
    border-color: darkslategray;
}

.task-btn{
    background-color: teal !important;
    border-color: darkslategray;
}

.bi {
    color: teal;
}
